vgm/test/agddv6/AGDD.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ENTITY % Materials.dtd  SYSTEM "Materials.dtd" >

%Materials.dtd; 

<!ENTITY % DTD_constraint 'DTD_version ( v6 ) #REQUIRED'>

<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    Variable management

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ENTITY  % vars     '( var* | array* | table* )'>

<!ELEMENT  var        EMPTY>
<!ATTLIST  var
           name       CDATA  #REQUIRED
           value      CDATA  #REQUIRED>

<!ELEMENT  array      EMPTY>
<!ATTLIST  array
           name       CDATA  #REQUIRED
           values     CDATA  #REQUIRED>

<!ELEMENT  table      ( row )* >
<!ATTLIST  table
           name       CDATA  #REQUIRED>

<!ELEMENT  row        EMPTY>
<!ATTLIST  row
           values     CDATA  #REQUIRED>


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    Units

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->



<!ENTITY % units 'unit_length  ( mm  | cm | m ) "mm"
                  unit_angle   ( deg | degree | radian | mrad )   "deg"'>



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    Parameter management

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!ENTITY  % single_parameters   '( real* | string* | reference* )'>
<!ENTITY  % multiple_parameters '( real_array* | string_vector* | reference_vector* )'>

<!ENTITY  % parameter_properties 'name      CDATA #IMPLIED
                                  comment   CDATA #IMPLIED'>

<!ELEMENT  real   EMPTY>
<!ATTLIST  real
           %parameter_properties;
           value       CDATA            #REQUIRED
           unit        ( m | cm | mm | 
                         degree | radian | mrad |
                         percent | none )  #REQUIRED>

<!ELEMENT  string EMPTY>
<!ATTLIST  string 
           %parameter_properties;
           value        CDATA     #REQUIRED>

<!ELEMENT  reference EMPTY>
<!ATTLIST  reference
           %parameter_properties;
           value        IDREF     #REQUIRED>


<!ELEMENT  real_array EMPTY >
<!ATTLIST  real_array
           %parameter_properties;
           values        CDATA   #REQUIRED
           unit        ( m | cm | mm | 
                         degree | radian | mrad |
                         percent | none )  #REQUIRED>

<!ELEMENT  string_data  EMPTY>
<!ATTLIST  string_data
           value       CDATA     #REQUIRED>

<!ELEMENT  string_vector ( string_data )+ >
<!ATTLIST  string_vector
           %parameter_properties;>

<!ELEMENT  reference_data  EMPTY>
<!ATTLIST  reference_data
           value       IDREF     #REQUIRED>

<!ELEMENT  reference_vector ( reference_data )+ >
<!ATTLIST  reference_vector
           %parameter_properties;>

<!--  Xerces
-->
<!ENTITY % single_parameter     'real | string | reference'>
<!ENTITY % multiple_parameter   'real_array | string_vector | reference_vector'>
<!ENTITY % parameters_contents '(%single_parameter; | %multiple_parameter;)*' >

<!--  Together
<!ENTITY % parameters_contents '%single_parameters; | %multiple_parameters;' >
-->

<!ELEMENT  parameters  ( %parameters_contents; ) >

<!ATTLIST  parameters
           name      ID      #REQUIRED
           type      CDATA   #REQUIRED>




<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    Identifiers

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->




<!ELEMENT identifier EMPTY>

<!ATTLIST identifier field  CDATA  #REQUIRED
                     value  CDATA  "0"
                     step   CDATA  "0">


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    Positioners

        Single
        Multiple
        Relative

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->


<!ENTITY % single_positions      '( posXYZ* | posRPhiZ* )'>
<!ENTITY % multiple_positions    '( mposR* | mposPhi* | mposWedge* | mposX* | mposY* | mposZ* )'>
<!ENTITY % relative_positions    '( axisPos* | axisMPos* )'>
<!ENTITY % positions             '( %single_positions; | %multiple_positions; )'>


<!ELEMENT volume EMPTY>
<!ATTLIST volume name IDREF #REQUIRED>

<!-- Xerces
-->
<!ENTITY % any_var         'var | array | table'>
<!ENTITY % position_items  '(volume | identifier | %any_var;)*'>

<!-- Together
<!ENTITY % position_items  '( volume* | identifier* | %vars; )'>
-->

<!ENTITY % position_contents '%position_items;'>
<!ENTITY % position_properties 'rot       CDATA    "0; 0; 0"
                                S         CDATA    "0"
                                %units; '>
           
<!--
    Single positioners
-->
           
<!ENTITY % single_position_contents '%position_contents;' >

<!ELEMENT  posXYZ    ( %single_position_contents; ) >
<!ATTLIST  posXYZ
           X_Y_Z     CDATA    "0; 0; 0"
           %position_properties;>

<!ELEMENT  posRPhiZ  ( %single_position_contents; ) >
<!ATTLIST  posRPhiZ
           R_Phi_Z   CDATA    "0; 0; 0"
           impliedRot (true | false) "true"
           %position_properties;>

<!--
    Multiple positioners
-->

<!ENTITY % multiple_position_properties '%position_properties;'>

<!ENTITY % multiple_position_contents '%position_contents;' >


<!ELEMENT  mposR     ( %multiple_position_contents; ) >
<!ATTLIST  mposR
           ncopy     CDATA    #REQUIRED
           R0        CDATA    "0"
           dR        CDATA    #REQUIRED
           Z_Phi     CDATA    "0; 0"   
           %multiple_position_properties;>

<!ELEMENT  mposPhi   ( %multiple_position_contents; ) >
<!ATTLIST  mposPhi
           ncopy     CDATA    #REQUIRED
           Phi0      CDATA    "0"                     
           dPhi      CDATA    #IMPLIED 
           R_Z       CDATA    "0; 0"
           impliedRot (true | false) "true"
           %multiple_position_properties;>

<!ELEMENT  mposWedge   ( %multiple_position_contents; ) >
<!ATTLIST  mposWedge
           wedge_number      CDATA     #REQUIRED                             
           R_Z               CDATA      "0; 0"                                 
           Phi0              CDATA      "0"                                   
           sectors           CDATA     #REQUIRED                             
           impliedRot   (true | false) "true"                            
           %multiple_position_properties;>                

<!ELEMENT  mposX     ( %multiple_position_contents; ) >
<!ATTLIST  mposX
           ncopy     CDATA    #REQUIRED
           X0        CDATA    "0"
           dX        CDATA    #REQUIRED
           Y_Z       CDATA    "0; 0"   
           %multiple_position_properties;>

<!ELEMENT  mposY     ( %multiple_position_contents; ) >
<!ATTLIST  mposY
           ncopy     CDATA    #REQUIRED
           Y0        CDATA    "0"
           dY        CDATA    #REQUIRED
           Z_X       CDATA    "0; 0"   
           %multiple_position_properties;>

<!ELEMENT  mposZ     ( %multiple_position_contents; ) >
<!ATTLIST  mposZ
           ncopy     CDATA    #REQUIRED
           Z0        CDATA    "0"
           dZ        CDATA    #REQUIRED
           R_Phi     CDATA    "0; 0"   
           X_Y       CDATA    "0; 0"   
           %multiple_position_properties;>



<!--
    Relative positioners
-->


<!ENTITY % relative_position_properties 'dX        CDATA    "0"
                                         dY        CDATA    "0"
                                         dZ        CDATA    "0"
                                         rotation  CDATA    "0"
                                         %units; '>

<!ENTITY % relative_position_contents '%position_contents;' >

<!ELEMENT  axisPos   ( %relative_position_contents; ) >
<!ATTLIST  axisPos
           shift     CDATA    "0"
           %relative_position_properties;>
           
<!ELEMENT  axisMPos  ( %relative_position_contents; ) >
<!ATTLIST  axisMPos
           ncopy     CDATA    #REQUIRED
           shift0    CDATA    "0"
           shift     CDATA    "0"
           %relative_position_properties;>
           



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    Volumes

        Solids
        Composition
        Stacks
        Boolean volumes

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->


<!ENTITY % solids      '( sphere* | torus* | box* | trd* | tubs* | cons* | pcon* )'>
<!ENTITY % stacks      '( stackX* | stackY* | stackZ* )'>
<!ENTITY % booleans    '( union* | intersection* | subtraction* )'>

<!ENTITY % volume_properties 'name        ID               #REQUIRED
                              parameters  IDREF            #IMPLIED'>

<!ENTITY % solid_properties '%volume_properties;
                             material    IDREF            #REQUIRED
                             sensitive   ( true | false ) "false"'>

<!ELEMENT  sphere    EMPTY >
<!ATTLIST  sphere
           Rio          CDATA    #REQUIRED
           profile      CDATA    "0; 360"
           slice        CDATA    "0; 180"
           %solid_properties;
           %units;>

<!ELEMENT  torus    EMPTY >
<!ATTLIST  torus
           Rio_R        CDATA    #REQUIRED
           profile      CDATA    "0; 360"
           %solid_properties;
           %units;>

<!ELEMENT  box    EMPTY >
<!ATTLIST  box
           X_Y_Z       CDATA     #REQUIRED
           %solid_properties;
           %units;>

<!ELEMENT  trd    EMPTY >
<!ATTLIST  trd
           Xmp_Ymp_Z   CDATA     #REQUIRED
           inclination CDATA     "0; 0"
           %solid_properties;
           %units;>

<!ELEMENT  tubs   EMPTY >
<!ATTLIST  tubs
           Rio_Z    CDATA    #REQUIRED
           profile  CDATA     "0; 360"
           %solid_properties;
           %units;>

<!ELEMENT  cons   EMPTY >
<!ATTLIST  cons
           Rio1_Rio2_Z     CDATA     #REQUIRED
           profile         CDATA     "0; 360"
           %solid_properties;
           %units;>

<!ELEMENT  pcon   (polyplane+)>
<!ATTLIST  pcon
           profile         CDATA     "0; 360"
           %solid_properties;
           %units;>

<!ELEMENT  polyplane EMPTY >
<!ATTLIST  polyplane
           Rio_Z           CDATA     #REQUIRED>


<!-- Xerces
-->
<!ENTITY % any_single_position   'posXYZ | posRPhiZ'>
<!ENTITY % any_multiple_position 'mposR | mposPhi | mposWedge | mposX | mposY | mposZ'>
<!ENTITY % any_relative_position 'axisPos | axisMPos'>
<!ENTITY % any_position          '%any_single_position; | %any_multiple_position;'>
<!ENTITY % foreach_items         '(%any_var; | foreach | %any_position;)+'>

<!-- Together
<!ENTITY % foreaches        '( foreach* )'>
<!ENTITY % foreach_items  '( %vars; | %foreaches; | %positions; )'>
-->

<!ENTITY % foreach_contents '( %foreach_items; )'>

<!ELEMENT  foreach   ( %foreach_contents; ) >
<!ATTLIST  foreach
           index     CDATA    #REQUIRED
           loops     CDATA    #REQUIRED
           begin     CDATA    "0"
           step      CDATA    "1"
           when      CDATA    #IMPLIED>


<!-- Xerces
-->
<!ENTITY % composition_contents '(%any_var; | foreach | %any_position;)+'>

<!-- Together
<!ENTITY % composition_contents '( %vars; | %foreaches; | %positions; )'>
-->

<!ELEMENT  composition     ( %composition_contents; ) >
<!ATTLIST  composition
           envelope   IDREF   #IMPLIED
           %volume_properties;>


<!-- Xerces
-->
<!ENTITY % stack_contents '(axisPos | axisMPos)+ '>

<!-- Together
<!ENTITY % stack_contents '%relative_positions;'>
-->

<!ELEMENT  stackX      ( %stack_contents; ) >
<!ATTLIST  stackX
           origin      (atStart)    "atStart"
           %volume_properties;>

<!ELEMENT  stackY      ( %stack_contents; ) >
<!ATTLIST  stackY
           origin      (atStart)    "atStart"
           %volume_properties;>

<!ELEMENT  stackZ      ( %stack_contents; ) >
<!ATTLIST  stackZ
           origin      (atStart)    "atStart"
           %volume_properties;>

<!-- Xerces
-->
<!ENTITY % boolean_contents '( %any_single_position; )+'>

<!-- Together
<!ENTITY % boolean_contents '%single_positions;'>
-->

<!ELEMENT  union         ( %boolean_contents; ) >
<!ATTLIST  union    
           %volume_properties;>

<!ELEMENT  intersection  ( %boolean_contents; ) >
<!ATTLIST  intersection
           %volume_properties;>

<!ELEMENT  subtraction   ( %boolean_contents; ) >
<!ATTLIST  subtraction
           %volume_properties;>



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    Compact

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!--
<!ENTITY % indet_elements 'dummy_indet'>
<!ENTITY % larg_elements  'dummy_larg'>
<!ENTITY % tile_elements  'dummy_tile'>
<!ENTITY % muon_elements  'dummy_muon'>

<!ELEMENT compact ( %indet_elements; |
                    %larg_elements; |
                    %tile_elements; |
                    %muon_elements; ) >
<!ATTLIST compact
          %volume_properties;
          envelope   IDREF   #IMPLIED>
-->


<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    Section

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->

<!-- Xerces
-->
<!ENTITY % any_solid        'sphere | torus | box | trd | tubs | cons | pcon'>
<!ENTITY % any_stack        'stackX | stackY | stackZ'>
<!ENTITY % any_boolean      'union | intersection | subtraction'>
<!ENTITY % any_volume       '%any_solid; | %any_stack; | %any_boolean; | composition'>
<!ENTITY % section_contents '(%any_volume; | parameters | %any_var;)*'>
<!-- remove compact for now
<!ENTITY % section_contents '(%any_volume; | compact | parameters | %any_var;)*'>
-->
<!-- Together
<!ENTITY % parameters_s     '( parameters* )'>
<!ENTITY % compositions     '( composition* )'>
<!ENTITY % compacts         '( compact* )'>

<!ENTITY % volumes          '( %solids; | %stacks; | %booleans; | composition* | compact* )'>
<!ENTITY % section_contents '( %volumes; | parameters* | %vars; )'>
-->

<!ELEMENT  section    ( %section_contents; ) >
 
<!ATTLIST  section
           name       CDATA  #REQUIRED 
           version    CDATA  #REQUIRED
           date       CDATA  #REQUIRED
           author     CDATA  #REQUIRED
           top_volume IDREF  #REQUIRED
           %DTD_constraint;>



<!-- +++++++++++++++++++++++++++++++++++++++++++++++++

    AGDD

     +++++++++++++++++++++++++++++++++++++++++++++++++ -->




           
<!--
<!ENTITY % AGDD_item     'materials , section'>
<!ENTITY % AGDD_contents '%AGDD_item;*'>
-->

<!ENTITY % AGDD_contents 'materials* , section*'>

<!ELEMENT  AGDD     ( %AGDD_contents; ) >
<!ATTLIST  AGDD
           %DTD_constraint;>






